@color1: #95d3ff;
@color2: #0066b3;
@bg1: #def2ff;


a, a:visited {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: @color2;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color2;  
}
::-moz-placeholder {  /* Firefox 19+ */
  color: @color2;  
}
:-ms-input-placeholder {  
  color: @color2;  
}

.top {
  background: @bg1;
  border-bottom: 4px solid @color1;

  .nav-top {

    text-align: right;
    padding: 10px 0;

    a {
      color: @color2;
      font-size: 11px;
      font-weight: bold;
    }

  }

  .nav-main {

    text-align: right;
    
    a {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      padding: 10px;
      

      &.active {
        padding: 10px;
        background: @color2;
        color: #fff;
      }
    }
  }

  .lang {
    a {
      font-weight: bold;
      color: #b0ceea;

      &.active {
        color: @color2;
      }
    }
  }

  .search form {
    display: inline-block;

    input[type="search"] {
      padding: 4px 8px;
      color: @color2;
      border: 1px solid @color2;
      background: @bg1;

      -moz-appearance:    textfield;
      -webkit-appearance: textfield;
      appearance: textfield;
      
    }
  }


}

.slider {

  
  img {
    width: 100%;
  }

}

.link {
  color: @color2;
}
.box {
  

}

.featured {
  padding: 30px 0;

  img {
    box-shadow: 2px 2px 5px #888;
  }
}

.project-hightlight {

  time {
    color: #333;
  }

  .description {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
  }
}


.content {
  padding: 20px 0 40px;

  h3 {

    text-transform: uppercase;
    font-size: 14px;
    color: @color2;

  }

}

.bla {
  background: @bg1;
  padding: 20px 0;
}



footer {
  background: @color2;
  padding: 40px 0 20px;
  
  dt {
    font-weight: bold;
    color: #ffffff;
  }

  dd {

    a {
      color: #addcff;
    }
  
  }

  .mini-footer {
    margin-top: 40px;
    text-align: right;
    font-size: 11px;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
 
* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}